body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.hidden {
  display: none;
}

#error-message {
  color: red;
}

/* Style for password input box */
.password-input {
  padding: 8px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  border: none;
  border-radius: 5px;
}
